.todo-add-parent {
    @include TodoNoteParentStyle;
    
    

    .todo-add-time {
        margin-top: 1em;
    }
    .todo-add-todo {
        margin-top: 1em;
    }
    .todo-button-add {
        margin-top: 1em;
    }
}

.todo-delete-todo {
    // font-size: 13px;
    background-color: $bgColor;
    color: darken($textColor,30%);
    border: 1px solid darken($textColor, 30%);
    border-radius: 3px;
    padding: .3em;
    cursor: pointer;
    // font-weight: bolder;
    font: {
        size: 13px;
        weight: bolder;
    }
}
._todo-content {
    margin-top: 1em;
}
.todo-check {
    font-size: 20px;
    color: $bgColor;
    cursor: pointer;
    transition: .2s color ease-in-out;
    &:hover {
        color: lighten($bgColor, 10%);
    }
}
[data-completed="completed"] {
    background-color: green;
}
.todo-bell {
    font-size: 10px;
}