@mixin NoteStyles {
    position: absolute;
    background:darken($bgColor, 30%);
    height: 100%;
    width: 100%;
    padding: 1em;
    visibility: hidden;
}

@mixin NoteSmallWidgetStyle($widgetColor: white) {
    font-size: 0.5em;
    color: $widgetColor;
    position: relative;
    top: -1em;
    left: 1em;
    cursor: pointer;
    border-radius: 100%;
}

// @mixin NoteMenuStyle($pa,$fs,$mg ) {
//     background-color: lighten($bgColor, 12%);    
//     padding: $pa;
//     font-size: $fs;
//     margin-left: $mg;    
// }