.bible-cover {
  background-color: darkgrey;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .8;
}
.bible-color-list {
 background-color: red;
 display: inline-block;
}
#BibleConcord {
  display: none;
  //border: 1px solid lighten($text-color, 50%);
  width: 280px;
  padding: 1.5em;
  position: absolute;
  top: 8em;
  left: 9.5em;
  background-color: white;
  // border-radius: .3em;
  box-shadow: 0 0 1em  $bg-color;
  label {
    color: lighten($text-color, 50%);
    font-style: italic;
    font-weight: bolder;
    font-size: .9em;
  }
  @at-root {
    .bible-close {
      position: absolute;
      cursor: pointer;
      left: 16em;
      top: .5em;
      color: lighten($text-color, 50%);
    }
  }
  .bible-search-concord {
    padding: .5em;
    margin-top: 1.5em;
    // margin-left: -7em;
    border: .1em solid lighten($text-color, 50%);
    font-weight: bolder;
  }
  .bible-start-search {
      border: 1px solid lighten($text-color, 50%);
      background-color: lighten($text-color, 50%);
      font-weight: bolder;
      color: white;
      cursor: pointer;
      padding: 0em;
      border-radius:none;
  }
}
.bible-getChapters {
  background-color: white;
  border: 1px solid lighten($text-color, 1%);
  border-radius: 1%;
  position: absolute;
  width: 280px;
  top: 8em;
  left: 9.5em;
  padding: 1.5em;
  box-shadow: 0 0 1em  $bg-color;
  .bible-getChapters-chaptersParent {
    text-align: center;
    li {
      display: inline-block;
      list-style: none;
      margin-left: .5em;
      margin-top: .5em;
      border: 1px solid lighten($text-color, 50%);
      border-radius: 3%;
      box-shadow: 0.5px 0.5px rgba(0.242, 0.093, 0.896, .75) inset;
      padding: .1em;
      font-weight: bolder;
      cursor: pointer;
      p:last-of-type {
        margin-top: .3em;
      }
    }
  }
}
.bible {
  color: $text-color;
  font-size: 1em;
  font-weight: bold;
}
.bible-audio-ctrlers {
  position: fixed;
  left: 45%;
  progress {
    height: .1em;
  }
  .audioctrlers {
    button {
      margin-left: 1em;
    }
    button:first-of-type {
      margin-left: 0;
    }
  }
}
.bible-loading {
    position: absolute;
    // height: 100vh;
    width: 100vw;
    background-color: white;
    padding: 7em;
    top: 5em;
    opacity: .75;
    .bible-loading-image {
      display: flex;
      justify-content: center;
      img {
        height: 20%;
        width: 20%;
      }

    }
    p {
      text-align: center;
      line-height: 3em;
  }
}