.view-note,.view-todo {
    @include NoteStyles;
    height: 100%;
    width: 100%;

    .bible-close {
        // margin-left: 3em;
        // margin-top: 2em;

        font-size: 2em;
        position: relative;
        left: 0;
        top: 2em;
    }
    .bible-view-note-parent,.bible-view-todo-parent {
        .bible-view-note-list,.todo-list {
            padding-top: 5em;
            .bible-view-note-item,.todo-view-item {
                color: $textColor;
                background-color: darken($bgColor,30%);
                padding: .3em;
                font-size: 5em;   
                margin: 0.5em 0.5em 0 0.5em;
                cursor: pointer;
                border-radius: 100%;
                p {
                    font-size: 0.2em;
                    font-weight: bolder;
                    // position: absolute;
                }

            }
            .note-content,.todo-content {
                display: none;
            }
        }
    }
    .bible-view-note-modal {

        // visibility: hidden;
        display: none;

        background: darken($bgColor,30%);
        padding: 5em;
        position: absolute;
        top: 0;
        left: 0;
        color: $textColor;
        height: 100%;
        overflow-y: scroll;
        width: 100%;    
        font: {
            weight: bolder;
            size: 1.2em;
        }

        
        .bible-close {
            top: 0;
        }

        div {
            margin-top: 1em;
            p {
                line-height: 2;
            }
        }
        div:first-of-type {
            margin-top: 3em;
        }      
        div:last-of-type {
            // overflow-y: scroll;
            // height: 100vh;
        }
        
    }
}
.bible-close {
    color: $textColor;    
}