@import "reset.scss";
@import "mixin.scss";
$text-color: #190545;
$margin-top-bible-body: .3em;
$bg-color:lighten($text-color, 5%);
body {
  box-sizing: border-box;
  width: 100vw;
  #bible-body {
    width: 100vw;
    header {
      // background-color: lighten($text-color, 20%);
      border-bottom: .1em solid lighten($text-color, 20%);
      padding: .7em;
      .bible-title {
        text-align: center;
      }
    }
    .bible-nav {
      margin-top: $margin-top-bible-body;
      border: 1px solid lighten($text-color, 20%);
      float:left;
      height: 100vh;
      width: 40%;
      background-color: lighten($text-color, 20%);
      .bible-arrows {
        cursor: pointer;
      }
      .bible-nav-list {
        padding: .5em;
        .bible-nav-item {
          list-style: none;
          display: block;
          padding: .3em;
          padding-left: .5em;
          margin-top: .2em;
          cursor: pointer;
          margin-top: .3em;
          .bible-underline {
            width: 0;
            margin-top: .3em;
            border-bottom: .1em solid $text-color;
            transition: .2s ease-in;
          }
          &:hover .bible-underline {
            animation-name: incrWidthOfBibleUnderline;
            animation-timing-function: ease-in;
            animation-duration: .2s;
            animation-fill-mode: forwards;
          }
        }
      }
    }
    .bible-home-screen {
        @include Navigation($bg-color);
      .bible-choice {
        .bible-choice-select  {
          @include CoolPadding($bg-color);
        }
        .bible-choice-select:nth-of-type(0) {
          display: flex;
        }
        select {
          margin-top: 1em;
          margin-left: 6em;
        }
        .bible-testatment-choice {
          margin-top: 1em;
          .bible-choice-select:nth-of-type(2) {
            margin-left: .5em;
          }
        }
        .bible-concord {
          display: flex;
          margin-top: 1em;
          margin-left: 6em;
          border: none;
        }
      }
      .bible-testament {
        align-self: flex-start;
        // display: block;
        // width: inherit;
        // width: 350px;
        .bible-location {
          // margin-top: 1em;
          // margin-left: 1em;
          float: left;
          margin: .5em .5em;
          @include CoolPadding($bg-color);
        }
      }

      // added dynamically
      .bible-read-text {
          @include CoolPadding($bg-color);
          cursor:default;
          padding: 0;
          overflow-y: scroll;
          background-color: transparent;
          .bible-go-left,
          .bible-go-right {
            cursor: pointer;
            color: lighten($text-color, 50%);
            font-size: 2em;
            font-weight: bolder;
          }
          .bible-go-left {
            float: left;
            margin-left: 1em;
          }
          .bible-go-right {
            float: right;
            margin-right: 1em;
          }
          > div:first-of-type {
            margin-bottom: .5em;
            h3 {
              font-style: italic;
              font-size: 2em;
              margin-top:.5em;
              font-weight: bolder;
            }
            h5 {
              font-size: 1em;
              font-weight: bolder;
            }
          }
          .bible-verse-text {
            margin-left:.5em;
            margin-top: 1.5em;
            span:first-of-type {
              font-weight: bolder;
              font-style: italic;
              font-size: 1em;
              &:after {
                content: " .";
              }
            }
            span:last-of-type {
            }
          }
      }
      .bible-settings {
          @include CoolPadding($bg-color);
          width: 100%;
          background-color: inherit;
          box-shadow: none;
          font-size: 1.3em;
          padding: 0;
          // margin-left: 10em;
          margin-top: -25.55em;
          height: 0;
          color: black;

          [data-change="bible-list-group"] {
            > li {
              border-radius: none;
              font-size: 0.8em;
              .current-value {
                border: 2px solid darkgrey;
                padding: .2em;
                background-color: darkgrey;
                border-radius: 12px;
              }
               .changeHoverState > li {
                 transition: .2s background-color ease-in;
                 &:hover {
                   background-color: fade-in($text-color, 1);
                   color: white;
                 }
               }
              .bible-on-of-Parent {
                padding-left:-1em;
                width: 15%;
                border: 1px solid $text-color;
                border-radius: 20px;
                background-color: darkgrey;
                > .bible-on-of {
                  padding-left: 1em;
                  border-radius: 100%;
                  border: 1px solid black;
                  background-color: black;
                }
              }
            }
          }
      }
      .bible-favourites {
          @include CoolPadding($bg-color);
      }
      .bible-newt {
          @include CoolPadding($bg-color);

      }
      .bible-ot {
          @include CoolPadding($bg-color);

      }

      .bible-hymns {
          @include CoolPadding($bg-color);

      }
      .bible-note {
          @include CoolPadding($bg-color);
      }
    }

  }

}
.bible-cover {
  background-color: darkgrey;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .8;
}
.bible-color-list {
 background-color: red;
 display: inline-block;
}
#BibleConcord {
  display: none;
  //border: 1px solid lighten($text-color, 50%);
  width: 280px;
  padding: 1.5em;
  position: absolute;
  top: 8em;
  left: 9.5em;
  background-color: white;
  border-radius: .3em;
  box-shadow: 0 0 1em  $bg-color;
  label {
    color: lighten($text-color, 50%);
    font-style: italic;
    font-weight: bolder;
    font-size: .9em;
  }
  @at-root {
    .bible-close {
      position: absolute;
      cursor: pointer;
      left: 19em;
      top: .5em;
      color: lighten($text-color, 50%);
    }
  }
  .bible-search-concord {
    padding: .5em;
    border-radius: .3em;
    margin-top: 1.5em;
    margin-left: -7em;
    border: .1em solid lighten($text-color, 50%);
    font-weight: bolder;
  }
  .bible-start-search {
      border: 1px solid lighten($text-color, 50%);
      background-color: lighten($text-color, 50%);
      position: absolute;
      font-weight: bolder;
      color: white;
      padding: .5em;
      margin-top: 3em;
      margin-left: 18em;
      cursor: pointer;
  }
}
.bible-getChapters {
  background-color: white;
  border: 1px solid lighten($text-color, 1%);
  border-radius: 1%;
  position: absolute;
  width: 280px;
  top: 8em;
  left: 9.5em;
  padding: 1.5em;
  box-shadow: 0 0 1em  $bg-color;
  .bible-getChapters-chaptersParent {
    text-align: center;
    li {
      display: inline-block;
      list-style: none;
      margin-left: .5em;
      margin-top: .5em;
      border: 1px solid lighten($text-color, 50%);
      border-radius: 3%;
      box-shadow: 0.5px 0.5px rgba(0.242, 0.093, 0.896, .75) inset;
      padding: .1em;
      font-weight: bolder;
      cursor: pointer;
      p:last-of-type {
        margin-top: .3em;
      }
    }
  }
}
.bible {
  color: $text-color;
  font-size: 1.2em;
  font-weight: bolder;
  text-transform: uppercase;
}
.bible-audio-ctrlers {
  position: fixed;
  left: 45%;
  progress {
    height: .1em;
  }
  .audioctrlers {
    button {
      margin-left: 1em;
    }
    button:first-of-type {
      margin-left: 0;
    }
  }
}

@keyframes incrWidthOfBibleUnderline {
  from {
      width: 1%;
  }
  to {
      width: 100%;
  }
}
[data-minmax="minimise"] {
  animation-name: minimiseNav;
  animation-duration: .3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
[data-minmax="maximise"] {
  animation-name: maximiseNav;
  animation-duration: .3s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
[data-animate="paddingAnimateIncrease"] {
  animation-name: increasePadding;
  animation-duration: .3s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
[data-animate="paddingAnimateDecrease"] {
  animation-name: decrasePadding;
  animation-duration: .3s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
[data-display="none"] {
  display: none;
}
[data-location="bringdown"] {
  animation-name: bringdown;
  animation-duration: .3s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-delay: .8s;
}
[data-location="bringup"] {
  animation-name: bringup;
  animation-duration: .1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes minimiseNav {
  from {
    width: 40%;
  }
  to {
    width: 15%;
  }
}
@keyframes maximise {
  from {
    width: 15%;
  }
  to {
    width: 10%;
  }
}
@keyframes bringdown {
  0% {
    top: 9em;
  }
  100% {
    top: 10em;
  }
}
@keyframes bringup {
  0% {
    top: 8em;
  }
  100% {
    top: 7em;
  }
}
@keyframes increasePadding {
  0% {
    padding-left: -1em;
  }
  50% {
    padding-left: 1em;
  }
  60% {
    padding-left: 1.5em;
  }
  80% {
    padding-left: 2em;
  }
  100% {
    padding-left: 2.5em;
  }
}
@keyframes paddingAnimateDecrease {
  0% {
    padding-left: 2.5em;
  }
  50% {
    padding-left: 2em;
  }
  60% {
    padding-left: 1.5em;
  }
  80% {
    padding-left: 1em;
  }
  100% {
    padding-left: -1em;
  }
}
