
@import "reset.scss";
@import "colorVariables.scss";
@import "mixin.scss";
@import "keyframes.scss";
@import "dataAttribs.scss";
@import "standalone.scss";
@import "note.scss";

@import "pushpin.scss";

@import "bible_todo.scss";
@import "scroll.scss";
@import "readmenu.scss";
body {
  box-sizing: border-box;
  width: 100vw;
  letter-spacing: 3px;
  #bible-body {
    width: 100vw;
    header {
      border-bottom: 0.1em solid;
      background-color: black;
      padding: .1em;
      position: fixed;
      width: 100%;
      z-index: 1;
      
      span {
        cursor: pointer;
      }
      .bible-title {
        text-align: center;
      }
    }
    .bible-nav {
      float: left;
      height: 100%;
      max-width: 100%;
      margin-left: -500px;
      font-weight: bolder;
      background-color: white;
      box-shadow: 1px 1px 1px 2px white;
      padding-top: 2em;
      position: absolute;
      // opacity: .75;
      .bible-arrows {
        cursor: pointer;
      }
      .bible-nav-list {
        // padding: .5em;
        width: 100%;
        .concord-nav {
          .bible-nav-concord {
            display: none;
            font-weight: bolder;
            margin-top: 0.9em;
          }
          .bible-nav-item {
            padding: .5em;
            &:hover {
              background-color: #0d0d0d;
            }
          }
        }
        .bible-nav-item {
          list-style: none;
          display: block;
          padding: 1em;
          margin-top: .2em;
          cursor: pointer;
          margin-top: .3em;
          font-weight: bolder;
          margin-left: -0.5em;
          padding-left: 2em;
          &:hover {
            background-color: gray;
          }
          span {
            margin-left: 0.5em;
          }
        }
      }
    }
    .bible-home-screen {
      background-color: $bgColor;
      opacity: .75;
      float: right;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      width: 100vw;
      color: #a0a0a0;
      padding: 1em 0 0 0;
      .bible-choice {
        text-align: center;
      }
      .bible-choice,.bible-read-text,.bible-testament,.bible-settings,
      .bible-favourites,.bible-todo,.bible-bookmark {
        position: absolute;
        .bible-choice-select {          
          font-size: 20px;
          color: #a0a0a0;
          background-color: black;
          text-align: center;
          padding: .5em;
          font-weight: bolder;
          border-radius: 0;
          cursor: pointer;
          height: 100px;
          width: 23%;
          margin: 20px;
          padding-top: 30px;
          vertical-align: top;
          line-height: 1.2;
          &:hover {
            background-color: #1a1a1a;
          }
        }
        .bible-choice-language {
          margin-left: 4em;
        }
        .modal {
          margin-top: 5em;
        }
        .bible-testatment-choice {
          margin-top: 1em;
          .bible-choice-select:nth-of-type(2) {
            margin-left: .5em;
          }
        }
        .bible-concord {
          display: flex;
          margin-top: 1em;
          margin-left: 6em;
          border: none;
        }
      }
      .bible-testament,.bible-rendered-on-page  {
        align-self: flex-start;
        position: absolute;
        width: 100%;
        .bible-location {
          // float: left;
          display: block;
          width: 100%;
          font-size: 20px;
          color: $textColor;
          background-color: darken($bgColor,30%);
          // text-align: center;
          padding: 10px;
          font-weight: bolder;
          box-shadow: 1px 1px 5px 5px ;
          cursor: pointer;
          height: 100%;
          border: 1px solid white;
          &:hover {
            background-color: #1a1a1a;
          }
        }
      }
      .bible-read-text,.bible-bookmark {

        font-size: 0.8em;
        color: #a0a0a0;
        // background-color: black;
        text-align: center;
        padding: .5em;
        font-weight: bolder;
        box-shadow: 0px 0px 5px 5px black;
        cursor: pointer;
        height: 100vh;
        cursor: default;
        padding: 0;
        padding-top: 2em;
        overflow-y: scroll;
        background-color: transparent;
        .bible-go-left, .bible-go-right {
          clear: right;
          cursor: pointer;
          font-size: 50px;
          font-weight: bolder;
          position: fixed;

          text-shadow: 1px 1px 2px white;
          top: 300px;
          color: black;
        }
        .bible-go-left {
          float: left;
          left: 50px;
        }
        .bible-go-right {
          float: right;
          right: 50px;
        }
        > div:first-of-type {
          margin-bottom: .5em;
          h3 {
            font-style: italic;
            font-size: 2em;
            margin-top: .5em;
            font-weight: bolder;
          }
          h5 {
            font-size: 1em;
            font-weight: bolder;
          }
        }
        .bible-book-parent {
          clear: both;
          padding: 30px;
          margin-bottom: 30px;
        }
        .bible-verse-text {
          // margin-left: .5em;
          // margin-top: 1.5em;
          padding: 30px;
          span:first-of-type {
            font-weight: bolder;
            font-style: italic;
            font-size: 1em;
            float: left;
            &:after {
              content: " .";
            }
          }
          .bible-bookmark-icon {
            float: right;
            font-size: 19px;
            cursor: pointer;
          }
          .bible-bookmarked {
            color: darken(gold, 10%);
            box-shadow: 0px 0px 1px darken(gold,30%);
          }
        }
      }
      .bible-settings {
        font-size: 0.8em;
        color: #a0a0a0;
        // background-color: black;
        text-align: center;
        padding: .5em;
        font-weight: bolder;
        // box-shadow: 0px 0px 5px 5px black;
        cursor: pointer;
        width: 100vw;
        background-color: inherit;
        box-shadow: none;
        font-size: 1.3em;
        padding: 0;
        // margin-top: 1em;
        top: -0.5em;
        color: black;
        padding-top: 1.5em;
        .bible-settings-list > li {
          background-color: black;
          color: #a0a0a0;
          font-size: 0.8em;
          border-radius: 0;
          .current-value {
            border: 2px solid black;
            padding: .2em;
            background-color: black;
            border-radius: 5px;
          }
          .changeHoverState > li {
            transition: .2s background-color ease-in;
            &:hover {
              background-color: black;
              color: #a0a0a0;
            }
          }
          .bible-on-of-Parent,.bible-notification-Parent {
            padding-left: -1em;
            width: 50px;
            border: 1px solid;
            border-radius: 20px;
            background-color: darkgrey;
            > .bible-on-of,.bible-notification {
              padding-left: 1.2em;
              border-radius: 100%;
              border: 1px solid black;
              background-color: darkgrey;
            }
          }
          &:hover {
            background-color: #0d0d0d;
          }
        }
      }
      .bible-favourites, .bible-newt, .bible-ot, .bible-hymns, .bible-note {
        font-size: 0.8em;
        color: #a0a0a0;
        background-color: black;
        text-align: center;
        padding: .5em;
        font-weight: bolder;
        box-shadow: 0px 0px 5px 5px black;
        cursor: pointer;
        height: 100%;
        &:hover {
          background-color: #1a1a1a;
        }
      }
    }
  }
}